
/** Section Inicio**/

button {
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: var(--color-principal);
    color: var(--color-fondo);
}


/** Section About**/

/** Section About 2 **/

/**Section Products **/

/** Section Contacs**/

/** Section Footer**/