
/** Section Inicio**/

button {
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: var(--color-principal);
    color: var(--color-fondo);
}


/** Section Products**/

.cuadros button {

    width: 9vw;
    height: 2vw;

    font-size: 0.9vw;
    padding: 0;

    position: relative;
    margin-top:6vh;
}

/** Section About**/

/** Section About 2 **/

/**Section Products **/

/** Section Contacs**/

/** Section Footer**/