
/** DOM **/

*{
    color: var(--color-texto);
}
 
html, body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    width: 100vw;
}

.contenedorDePagina {
    background-color: var(--color-fondo);
    width: 100vw;

    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

/** header**/

header {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 30vw;

    color: var(--color-texto);
    font-size: 2vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100vw;
    height: 4vw;
}

 header nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
 }

 nav ul li:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-principal) ;
}

/** Section Inicio**/

.inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-image: url('../img/Images/pexels-nao-triponez-129207.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: 100vw;
    height:100vh;
}

.contInicio {
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    gap: 55vh;

    display: flex;
    flex-direction: column;

    padding-top: 15vh;
}

.contInicio h2 {
    font-size: 4vw;
    color: var(--color-texto);
    margin: 0;
}

/** Section About**/
.about{
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20vw;
}

.lineTitulo{
    display: flex;
    flex-direction: column;
}

.line{
    width: 8vw;
    position: relative;
    right: 18rem;
    top: 4vh;
}

.about img {
    width: 40vw;
}

.about h2 { 
    margin: 0;
    font-size: 4vw;
}

.about p {
    font-size: 1vw;
}


/** Section About 2 **/

.about2{
    height: 100vh;
    width: 100vw;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20vw;
}

.about2 img {
    width: 40vw;
}

.about2 h2 { 
    margin: 0;
    font-size: 4vw;
}

.about2 p {
    font-size: 1vw;
}


/**Section Products **/

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20vh;
    gap: 6vw;   
}

.product h2 {
    font-size: 4vw;
    position: relative;
    right: 3vw;
}

.cuadros{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.products1, .products2, .products3 {
    border: 3px solid goldenrod;
    width: 20vw;
    height: 50vh; 
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    position: relative;
}

.cuadros img { 
    width: 5vw;
    height: 7vh;
    position: relative;
    bottom: 4vh;
}

.cuadros ul {
    list-style: none;
    padding-right: 2vw;
    padding-top: 2vw;
}

.lineCenter {
    width: 40vw;
    border-color: var(--color-principal);
}
/** Section Contacs**/

.contact { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
}

.contact div { 
        display: flex;
        flex-direction: column;
        align-items: center;
}

.contact h3 {
    font-size: 3vw;   
    margin: 0;
    padding: 0;
}

.contact p {
    text-align: center;
}

.contact span {
    color: var(--color-principal);
}

/** Section Footer**/

footer {
    text-align: center;
    margin-top: 15vh;
}
footer span {
    color: var(--color-principal);
}