/** Documento para cargar las fuentes **/

@font-face {
    font-family:'Amazon Ember Bold' ;
    src: url('../fonts/Amazon_Typefaces_Complete_Font_Set_Mar2020/amazon_typography_webfonts_5e593ec/webfonts/AmazonEmber_W_Bd.woff') format('woff');
}

@font-face {
    font-family: 'Amazon Ember Light';
    src: url('../fonts/Amazon_Typefaces_Complete_Font_Set_Mar2020/amazon_typography_webfonts_5e593ec/webfonts/AmazonEmber_W_Lt.woff') format('woff');
}