/** Documento para crear variables generales **/

:root {
  --color-principal: #00A8E1;
  --color-fondo: #000000;
  --color-texto: #ffffff;
  --fuente-titulo: 'Amazon Ember Bold', sans-serif;
  --fuente-cuerpo: 'Amazon Ember Light', sans-serif;
}

