@font-face {
    font-family: 'open sans semibold';
    src: url(../fonts/Open_Sans/static/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: 'open sans regular';
    src: url(../fonts/Open_Sans/static/OpenSans-Regular.ttf);
}

